@import "https://fonts.googleapis.com/css?family=Merriweather";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  margin-top: 6rem;
  background: #faf9fa;
  color: #19171c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  min-height: calc(100vh - 9rem);
}

strong {
  font-weight: bold;
}

a,
a:link,
a:visited {
  color: #19171c;
  text-decoration: none;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

a:hover {
  color: #4b367c;
  text-decoration: underline;
}

::-moz-selection {
  background: #4b367c;
  color: #faf9fa;
}

::selection {
  background: #4b367c;
  color: #faf9fa;
}

.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #faf9fa;
  color: #4b367c;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.preloader .preloading {
  width: 6rem;
  height: 6rem;
  border: 0.5rem solid #d3cae8;
  border-radius: 50%;
  border-top-color: #4b367c;
  border-left-color: #6441a4;
  -webkit-animation: preloader 1s infinite ease-in-out;
          animation: preloader 1s infinite ease-in-out;
}
@-webkit-keyframes preloader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
}
@keyframes preloader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
}
.preload-enter-active {
  opacity: 0;
}

.preload-leave-active {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.preload-enter,
.preload-leave-to {
  opacity: 0;
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background: #4b367c;
  height: 5rem;
  font-size: 1.4rem;
  color: #faf9fa;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column nowrap;
  -webkit-box-align: center;
          align-items: center;
}
#nav .logo {
  padding: 0rem 1.5rem;
}
#nav .logoSVG {
  fill: #faf9fa;
  padding-top: .5rem;
}
#nav #search {
  border: 1px solid #d3cae8;
  background: #faf9fa;
  color: #4b367c;
  width: 100%;
  padding: .5rem 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  min-width: 100px;
}
#nav a {
  flex-shrink: 0;
  flex-wrap: nowrap;
  padding: 0 1.5rem;
}
#nav a:link, #nav a:visited {
  color: #d3cae8;
  text-decoration: none;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
#nav a:hover {
  color: #faf9fa;
  text-decoration: underline;
}

#main-content {
  margin: auto;
  padding: 2rem;
  min-height: calc(100vh - 9rem);
  width: 95vw;
  text-align: center;
}
#main-content h1 {
  display: inline-block;
  color: #19171c;
  font-size: 2.8rem;
  padding: 1rem;
}
#main-content h2 {
  display: inline-block;
  color: #6e6779;
  font-size: 2.4rem;
  line-height: 2.5rem;
}
#main-content p {
  display: block;
  color: #6e6779;
  font-size: 1.6rem;
  margin: 1rem 0;
}
#main-content .follow, #main-content .follow:link, #main-content .follow:visited,
#main-content .unfollow,
#main-content .unfollow:link,
#main-content .unfollow:visited {
  width: 100%;
  background: #4b367c;
  color: #d3cae8;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-size: 1.6rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#main-content .follow:hover,
#main-content .unfollow:hover {
  background: #6441a4;
  color: #faf9fa;
  text-decoration: none;
}
#main-content .unfollow, #main-content .unfollow:link, #main-content .unfollow:visited {
  background: #6e6779;
  color: #faf9fa;
}
#main-content .unfollow:hover {
  background: #6441a4;
  color: #faf9fa;
  text-decoration: none;
}
#main-content a.live, #main-content a.live:link, #main-content a.live:visited {
  color: #d3cae8;
  background: #4b367c;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#main-content a.live:hover {
  background: #14b866;
  color: #faf9fa;
  text-decoration: none;
}
#main-content #offline {
  color: #6e6779;
  background: #d3cae8;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}

.streams {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.streams .heading {
  padding: 2.5rem;
  display: block;
  width: 100%;
}
.streams h2 {
  display: block;
  color: #19171c;
  font-size: 2rem;
  margin: 2rem 0 0 0;
}
.streams .stream {
  -webkit-box-flex: 1;
          flex: 1 0 250px;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #d3cae8;
  border-radius: 10px;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}
.streams .stream .stream-desc {
  margin-bottom: 2rem;
  -webkit-box-flex: 1;
          flex: 1;
}
.streams .stream small {
  font-size: 1.4rem;
  font-style: italic;
  border-top: 1px solid #d3cae8;
  border-bottom: 1px solid #d3cae8;
  border-radius: 10%;
  color: #6e6779;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  display: block;
}
.streams .stream img {
  width: 100%;
  border-radius: 10px;
}

.following, .user-layout {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
}
.following .heading, .user-layout .heading {
  padding: 2.5rem;
  display: block;
  width: 100%;
}
.following h2, .user-layout h2 {
  display: block;
  color: #19171c;
  font-size: 2.0rem;
  margin: 1rem 0;
}

.user-info {
  -webkit-box-flex: 0;
          flex: 0 1 200px;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #d3cae8;
  border-radius: 10px;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.user-info .pic {
  width: 225px;
  height: 225px;
  border-radius: 10px;
}
.user-info .name {
  padding: 1.5rem;
}
.user-info .desc {
  margin-bottom: 2rem;
  -webkit-box-flex: 1;
          flex: 1;
}

.e404 {
  padding: 0 2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 70vh;
}
.e404 #title {
  padding: 3rem;
  margin: 3rem 0;
  background: #d3cae8;
}
.e404 #desc {
  font-size: 2rem;
  margin: 1rem 0;
  line-height: 2.8rem;
}

footer {
  bottom: 0;
  background: #19171c;
  color: #faf9fa;
  height: 3rem;
  padding: .5rem;
  text-align: center;
  font-size: 1.4rem;
}
footer a:link,
footer a:visited {
  text-decoration: none;
  color: #faf9fa;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
footer a:hover {
  color: crimson;
}
footer .love {
  color: crimson;
  font-size: 1.8rem;
  vertical-align: baseline;
}

@media (max-width: 390px) {
  #nav {
    font-size: 1.2rem;
  }
  #nav .logo {
    padding: 0 1rem;
  }
  #nav #search {
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.8rem;
  }
  #nav a {
    padding-left: 0rem;
    padding-right: 1rem;
  }
  #nav .about {
    display: none;
  }

  footer span.love {
    font-size: 1.2rem;
  }
}
@media (min-width: 1000px) {
  #main-content {
    max-width: 1200px;
  }
}